* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    &:after, &:before {
        box-sizing: border-box;
    }
}

body {
    overscroll-behavior: none;
}

body.srcoll-body-lock {
    overflow-y: scroll !important;
    position: fixed;
    width: 100%;
}

.page-wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
}

.page-content {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

img {
    max-width: 100%;
}

a {
    transition: color .3s;

    &:active {
        color: inherit;
    }

    &:any-link {
        &, &:hover {
            color: $color-primary;
        }
    }
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    &[disabled] {
        pointer-events: none;
    }
}

input {
    box-shadow: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    
    &:focus {
        outline: none;
    }
}

button, select, input, textarea {
    font-family: inherit;
    font-size: inherit;
}
